@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap/scss/variables";

.about-section {
  margin-top: 4rem;
  font-family: "Open Sans", sans-serif;
}
.panel {
  background-color: #f9f9f9;
  width: 100%;
  height: max-content;
  border-radius: 20px;

  & > div {
    padding: 2rem 4rem;
  }

  div.about-text {
    text-align: left;
    width: 50%;

    h2 {
      color: #242424;
    }
    p {
      width: 90%;
      color: $gray-600;
    }
  }
}

@media screen and (max-width: 991px) {
  .panel {
    display: flex;
    flex-direction: column;

    div.about-text {
      width: 100%;
    }
  }
}
